#npc-advancement-tool .career-group {
    flex: 1;
    margin: 0 5px;
    padding: 0;
    text-align: center;
    line-height: normal;
    font-family: var(--window-header-title-font-family);
    font-size: var(--window-header-title-font-size);
    font-weight: var(--window-header-title-font-weight);
    color: #d6d6d6;
    border: 3px double #5d513e;
    background: #080808;
    box-shadow: 0 0 10px inset black;
    border-radius: 0;
    opacity: 1;
    text-shadow: 1px 1px 5px #000000;
}

#npc-advancement-tool form {
    height: 100%
}

#npc-advancement-tool ol.career-list {
    list-style: none;
    height: 90%;
    padding: unset;
    overflow-y: scroll
}

#npc-advancement-tool .select-label {
    margin-bottom: 2px;
    font-variant: small-caps;
    font-weight: bold;
}

#npc-advancement-tool .career-group {
    padding: unset;
    margin: 10px 0 0;
    background: #290a0ad9;
}

#npc-advancement-tool .career-tier:hover {
    text-shadow: 0 0 8px #ff9f00 !important;
    cursor: pointer;
}

#npc-advancement-tool .career-tier.active {
    box-shadow: inset 0 0 3px 3px #ff9f00;
}

#npc-advancement-tool input {
    text-align: center
}

#npc-advancement-tool .careers-loading {
    text-align: center;
    margin: 10px
}

.roll-tracker-item-button {
    background: transparent;
    color: white;
    border: 0;
    padding: 0;
    line-height: 0;
    align-self: center;
    margin: 0 2%;
}

.roll-tracker-item-button > i {
    margin-right: 0;
}

.roll-tracker-item-button:hover, .roll-tracker-item-button:focus {
    box-shadow: none;
    text-shadow: 0 0 5px red;
}

.roll-tracker-form-heading {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 0 0 0.4rem
}

.roll-tracker-comparison-card-heading {
    font-size: large;
    font-weight: bold;
    margin: 0 0 0.6rem
}

.roll-tracker-comparison-card-stat-heading {
    text-decoration: underline;
    margin: 0.2em;
    font-size: 1.15em;
}

.roll-tracker-comparison-card-strong {
    font-weight: bold;
}

.roll-tracker-comparison-card-goodstat {
    color: darkgreen;
}

.roll-tracker-comparison-card-badstat {
    color: darkred;
}

.roll-tracker-comparison-card-italics {
    font-style: italic;
}

.roll-tracker-comparison-card-ul {
    margin: 0;
}

.roll-tracker-comparison-card-li {
    list-style-type: square;
}

.roll-tracker-comparison-card-subli {
    list-style-type: circle;
}