<div>
  <h3><b>{{localize "MARKET.CreditRequest"}}</b></h3>
  {{{message}}}
</div>
<span class="chat-card-button-area">
    <a class='chat-card-button market-button' data-button='creditItem' data-amount="{{creditRequest}}">{{localize "MARKET.ReceiveCredit"}}</a>
</span>
